@page "/"


<div class="">
    <h1>Shoe Inc</h1>
    <br>

    <div class="container-fluid col-8">


        <div class="row">


            <div class="col-12">
                <img class="img-fluid"src="img/ShoeIncImage.jpg"/>
            </div>
        </div>


        <br>
        <div class="row">
            <div class="col-12  h2">
                Designed to be matched – or clashed –
                with our entire collection, let our footwear edit take your outfit to the next level. Think elegant high heel boots styled with unexpected luxe joggers. Or smart sneakers worn with embellished eveningwear and a buttery-soft leather jacket. From work-perfect pumps, sleek sandals and everyday flats – let us introduce your new favourite finishing touches.
            </div>
        </div>



    </div>
</div>


